
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
</head>
<body>
    <header >
        <nav>
            <a href="/Students/getAll"> get all</a>
            <a href="/Students/Create">create</a>
            <a href="/Students/Update">update</a>
            <a href="/Students/Delete">delete </a>
        </nav>
    </header>


    <main>
        <h2>this is Update page</h2>
    </main>

    <footer>
        <h2>this is footer</h2>
    </footer>
</body>
</html>
